/*Setting up styling variables for use throughout the site*/

:root {
    --gt-red: #a80000;
    --gt-background: #f8f8ff;
    --gt-font: Verdana, sans-serif;
}

/*Going with a responsive CSS Grid View for this, this'll consist of 12 columns*/

* {
    box-sizing: border-box;
}

/*Select every css element containing col- and apply this styling to them*/
[class*="col-"] {
    float: left;
    padding: 15px;
}

/*12 columns, width values per column are 8.33% reaching total width of 100%*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.header {
    background-color: var(--gt-red);
}

.header-logo {
    padding-bottom: 1%;
}

@media screen and (max-width: 991px) {
    .navbar-links {
        display: none !important;
    }

    .header-logo {
        height: 110%;
    }
}

.header-border {
    background-color: var(--gt-background);
}

.header-title {
    float: left;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

.header-right {
    float: right;
}

.header-link {
    float: left;
    text-align: center;
    padding: 1%;
    color: var(--gt-background);
    text-decoration: none;
    border-radius: 4px;

}

@media only screen and (max-width: 991px) and (min-width: 601px) {
    .row .col.m6 {
        width: 50%;
        margin-left: 25% !important;
        left: auto;
        right: auto;
    }
}

.footer {
    background-color: var(--gt-red) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--gt-font);
}

p {
    font-family: var(--gt-font);
}

.parallax-container {
    z-index: 0 !important;
}

#carHireDetailsCard {
    padding-top: 2%;
    padding-bottom: 4%;
    z-index: 100 !important;
}

#carHireSubmitButton {
    background-color: var(--gt-red);
}

.car-hire-details-date-time-picker {
    width: 20% !important;
    padding-left: 2%;
}

.time-label {
    width: 12% !important;
    padding-left: 2%;
}

/* customising CSS colors for date and time pickers, I'm using important to override the materialize
default css color*/

.datepicker-date-display, .timepicker-digital-display {
    background-color: var(--gt-red) !important;
}

.btn-flat {
    color: var(--gt-red) !important;
}

.datepicker-table td.is-selected {
    background-color: var(--gt-red) !important;
    color: white;
}

.timepicker-canvas-bg, .timepicker-canvas-bearing {
    fill: var(--gt-red) !important;
}

.timepicker-canvas line {
    stroke: var(--gt-red) !important;
}

.breadcrumb {
    color: black !important;
}

/*Slider had a fairly unattractive grey background so adding a transparent one to hide overflow*/
.slider {
    height: 500px !important;
}

.slider .slides {
    background-color: transparent !important;
}

/*Google maps styling information*/
.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 300px;
}
